
  .newsletter {
  background-color: var(--color__footer);
  padding: 40px 24px; /* Mais espaçamento */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}




.newsletter__container {
  display: flex;
  flex-direction: column;
  padding: 24px 24px;
  gap: 32px;
}
.newsletter__left {
  width: 222px;
  margin: auto;
  text-align: center;
}

.newsletter__left img {
  width: 68px;
  height: 68px;
}

.newsletter__left h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color__preto);
  margin: 24px 0;
}

.newsletter__left p {
  color: #7f7f7f;
}

.newsletter__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center;
}
.newsletter__right button {
  background-color: var(--color__marron);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.newsletter__right button:hover {
  background-color:var(--color__marronescuro); /* Ou outra cor de destaque */
}
@media (width > 1024px) {
  .newsletter {
    height: 300px;
    padding-top: 100px;
  }

  .newsletter__container {
    flex-direction: row;
    margin: auto;
  }
  .newsletter__left {
    width: auto;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .newsletter__left img {
    margin-right: 30px;
  }
  .newsletter__left h3 {
    margin: 0;
    margin-bottom: 4px;
  }

  .newsletter__right {
    flex-direction: row;
    flex: 1;
  }

  .newsletter__right input {
    flex: 1;
  }
}
